*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body{
    background-image: url('https://vault.pulsarimagens.com.br/file/thumb/03JLB565.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
}
header{
background-color: #772fd3;
height: 50px;
width: 300px;
display: flex;
justify-content: center;
align-items: center;

}
h1{
    font-size: 19px;
}
.container{
width: 375px;

}

main{
    
    background-color: azure;
    width: 300px;
    padding:25px 24px 23px;
    
   
}
label{   
 color: black;
 margin-bottom: 5px;
 font-size: 13px;
}

select, input{
    width: 100%;
height: 30px;
top: 15px;
left: 24px;
margin-bottom: 10px;
padding-left: 10px;
font-weight: 700;
color: #555555;
cursor: pointer;

}

button{
    width: 100%;
    height: 30px;
  
    left: 24px;
    margin: 20px 0 10px 0;
    font-size: 15px;
    background-color: blueviolet;
    color: white;
    border:none;
    cursor: pointer;
    
}
button:hover{
    opacity: 0.8;
}

button:active{
    opacity: 0.6;
}
section{
    border: 1px solid #772fd3;
    border-radius: 20px;
    margin-top: 15px;
    padding: 12px 0 12px 0;
    display: flex;
    flex-direction:column ;
    align-items: center;
  
}


.seta{
    margin: 15px 0;
}

 .currency-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
 }
 .currency {
    color: black;
    font-size: 14px;
}

.currency-value, .currency-value-to-convert{
    font-weight: 700;
    font-size: 20px;
    color: #555555;
}